@import "./colors.scss";



.imgBanner {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $backgroundBlack;

    .contentImgText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .contentImg {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: $backgroundBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.094);

        img {
            position: absolute;
            height: 100px;
            width: 100px;
            top: 0;

        }
    }

    .bannerTexts {
        position: relative;
        margin-top: 2rem;
        color: $white;

        h2 {
            font-size: 1.4rem;
            opacity: .2;
            color: $white;
        }

        h1 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            /*  margin-top: .5rem; */
            color: $orange;
        }

        h3 {
            font-size: 1.3rem;
            /*   margin-top: 1rem; */
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .imgBanner {
        &::before {
            left: 3%;
        }

        .contentImg {
            height: 200px;
            width: 200px;

            img {
                height: 200px;
                width: 200px;
            }
        }

        .bannerTexts {
            h1 {
                font-size: 1.9rem;
                margin-top: 0;
            }

            h2 {
                font-size: 1.7rem;
                margin-right: .3rem;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .imgBanner {
        overflow: hidden;

        .bannerTexts {
            text-align: left;
            margin-top: 5rem;

            h1 {
                font-size: 5rem;
                /* opacity: 1; */
                color: $background;
                margin-top: 0;
            }

            h2 {
                font-size: 2rem;
                color: $white;
                opacity: 0.1;
            }


        }
    }
}



@media only screen and (min-width: 769px) and (max-width: 2560px) {

    .imgBanner {
        overflow: hidden;

        .contentImgText {
            width: 100%;
            margin-top: 0;
        }

        .contentImg {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            background-color: $backgroundBlue;


            img {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

            }
        }

        .bannerTexts {
            text-align: left;
            position: relative;
            z-index: 100;

            h1 {
                font-size: 3rem;
                color: $orange;
                opacity: 1;
                margin-top: 0;
            }

            h2 {
                font-size: 3rem;
                color: $white;
                opacity: 0.1;
                margin-right: .5rem;
            }

            h3 {
                font-size: 2.5rem;
                /*  margin-top: .5rem; */
            }


        }
    }
}