$background: #000000;
$violet: #6e40c9;
$green: #7ee787;
$pink: #f87e78;
$backgroundBlue: #121212;
$backgroundBlack: #0a0a0a;
$white: #fafafa;
$orange: #ff781f;
$papaya: #FFF1D0 //$backgroundBlue: #171f2a;