@import "../styles/colors.scss";

.sectionContact {
    background-color: $backgroundBlack;
    position: relative;
    padding-top: 1rem;
    overflow: hidden;
    padding-bottom: 2rem;
    .containerTitle {
        color: $white;

        h1 {
            font-size: 3rem;
            color: $white;
            margin-bottom: 1.2rem;
        }


    }


}

.containerForm {
    /*  padding: 1rem 0; */
    margin-top: 3rem;

    form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: $backgroundBlue;
        border-radius: 12px;
        padding: 1rem 0;

        >div {
            margin-bottom: 1.5rem;
            width: 100%;
        }

        .inputContainer {
            /*  width: 100%; */
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;


            input[type="text"],
            input[type="email"] {
                color: $backgroundBlue;
                width: 90%;
                box-sizing: border-box;
                letter-spacing: 1px;
                background-color: #c0c0c0;
                border: none;
                border-radius: 20px;
                outline: none;
                padding: .5rem;

                &:focus {
                    outline: none;
                    opacity: 1;
                    background-color: #fff;
                }
                &::placeholder {
                    color: #666;
                } 
                /* CON TEXTO (aunque NO tenga foco) → blanco */
                &:not(:placeholder-shown) {
                    background-color: #fff;
                }
            }

            textarea {
                color: $backgroundBlue;
                width: 90%;
                box-sizing: border-box;
                letter-spacing: 1px;
                background-color: #c0c0c0;
                border: none;
                border-radius: 20px;
                outline: none;
                padding: .5rem;
                &:focus {
                    outline: none;
                    opacity: 1;
                    background-color: #fff;
                }
                  &::placeholder {
                    color: #666;
                }          

                /* CON TEXTO (aunque NO tenga foco) → blanco */
                &:not(:placeholder-shown) {
                    background-color: #fff;
                }
            }


        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
    /*.containerForm {
          display: grid;
        place-items: center; 

      /*   form {


            .inputContainer {
                width: 100%;

                input[type="text"] {
                    width: 100%;
                }
            }
        } 
    }*/

}

@media only screen and (min-width: 48em) {
    .wrapperContact {


        .containerTitle {
            h1 {
                font-size: 5rem;

            }

        }
    }

}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
    .containerForm {
        display: grid;
        place-items: center;

        form {

            background-color: #121212;
            padding: 1rem;

            .inputContainer {


                input[type="text"],
                input[type="email"] {

                    padding: 1rem;
                }

                textarea {
                    padding: 1rem;
                }
            }
        }
    }

    .wrapperContact {

        .containerTitle {
            h1 {
                font-size: 7rem;
                color: $white;
                margin-bottom: 1rem;
            }


        }
    }

}

$button-width: 150px;
$spinner-width: $button-width/6;
$blue: #0076d3;
$btn-bg: #8BC34A;
$text-light: #fefefe;

.menssageError,
.errors {
    color: $white;
    padding-top: .3rem;
    font-size: .8rem;
    text-align: center;

    a,
    i {
        color: $white;
        padding-top: .5rem;
        padding-left: .6rem;
    }
}

.disableForm {
    display: none;
}

.contentSuccess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    span {
        margin-bottom: .5rem;
        color: $white;
        padding-top: .3rem;
        font-size: 1.2rem;
        animation: fadeIn ease-in 1s forwards;
        -webkit-animation: fadeIn ease-in 1s forwards;
        opacity: 0;
    }
}

.loader {
    position: relative;
    min-width: 0;
    border-radius: 50%;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    &:after {
        position: absolute;
        content: '';
        width: $spinner-width;
        height: $spinner-width;
        border: 4px solid $text-light;
        border-radius: 50%;
        border-left-color: transparent;
        right: -50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        animation: spin ease-in 5s forwards;
        animation-name: spin;
        -webkit-animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: linear;
        animation-duration: 3s;
        -webkit-animation-duration: 3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
}

.success {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 7px;
        border: 4px solid $text-light;
        border-right: 0;
        border-top: 0;
        left: -2rem;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
        transform: translate(-50%, -50%) rotate(0deg) scale(0);
        -webkit-animation: success ease-in 0.15s forwards;
        animation: success ease-in 0.15s forwards;

    }
}

.error {
    position: relative;
    -webkit-animation: vibrate ease-in 0.5s forwards;
    animation: vibrate ease-in 0.5s forwards;

    &:before {
        color: #fff;
        position: absolute;
        content: '!';
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        left: 50%;
        top: -52%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-animation: error ease-in 0.5s forwards;
        animation: error ease-in 0.5s forwards;

    }

}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);

    }
}

@keyframes vibrate {

    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;

    }

    10%,
    40%,
    90%,
    70% {
        left: -2px;

    }

    20%,
    50%,
    80%,
    95% {
        left: 2px;

    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes fadeIn {
    0% {

        opacity: 1;

    }

    100% {
        opacity: 1;

    }
}

.form {
    position: relative;
}