@import "../styles/colors.scss";

.sectionFooter {
    background-color: $backgroundBlack;
    padding: 1rem 0 1.5rem;
    color: $white;
    position: relative;
    overflow: hidden;

    hr {
        height: 1px;
        border-style: none;
        border-width: 0;
        background-color: $white;
        opacity: .4;
        margin-top: 1rem;
    }

    .firma {
        text-align: center;
        opacity: .8;
    }


    .footer {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: center;

        >div,

        p {
            font-size: 1.1rem;
            text-align: center;
            margin: .8rem;
            opacity: 1;
        }

        .containerSocial {
            display: flex;
            align-items: center;

        }
    }

}

@media only screen and (min-width: 48em) {}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
    .sectionFooter {
        padding: 1rem 0;

        hr {
            margin: 0;
            opacity: .2;
        }

        .firma {
            margin-top: 1rem;
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .containerSocial {
            img {
                margin-right: 1.5rem;
            }

        }
    }


}