@import "../styles/colors.scss";

.containerLoading {
    position: fixed;
    background-color: $background;
    z-index: 8000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
        color: $white;
        text-align: center;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
    }
}